@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
html, body, .container-fluid, .row {
    height: 100%;
    /* overflow-x: hidden; */
    background-color: #F5F5F5;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #015249;
}

a:hover {
    color: #1E392A;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #015249;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
}

/* HOME PAGE STYLING */

#des {
    text-align: right;
    background-color: #015249;
    color: #F5F5F5;
    font-family: 'Klee One';
    font-size: 18px;
}

#dev {
    background-color: #F5F5F5;
    color: #015249;
    font-size: 20px;
}

#des h1, p, #dev h1, p {
    margin: 0;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#dev p:hover, #des p:hover {
    font-size: 150%;
}

/* ABOUT PAGE STYLING */

.navbar-nav {
    /* position: absolute;
    top: 8px;
    left: 16px; */
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 100%;
}

#block {
    align-content: center;
    width: 100%;
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h4{font-family: 'Klee One';}

#content {
    text-align: center;
    /* padding: auto; */
}

#content img {
    width: 300px;
    height: 400px;
    margin: 4%;
}

#words {
    height: 400px;
    width: auto;
    padding-left: 10px;
    /* text-align: left; */
    padding: 4%;
}

#words h2 {
    font-size: 24px;
    font-weight: bolder;
    color: #015249;
    text-align: center;
}

#words p {
    /* font-family: 'Klee One'; */
    font-size: 14px;
}

p a i {
    color: #015249;
    size: 50px;
}

p a i:hover {
    color: #1E392A;
    transform: scale(1.5);
}