
/* DESIGN PAGE STYLING */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

.nav {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

h1 {
  font-family: 'Klee One';
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(1, 82, 73, 0.2);
  /* padding: 4px; */
}
