
/* DESIGN PAGE STYLING */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.nav {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

h5 {
  font-family: 'Quicksand';
  text-transform: uppercase;
}

.card-title{
  color: #015249;
}

.card-body{
  text-align: left;
  text-decoration: none;}
