@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
html, body, .container-fluid, .row {
    height: 100%;
    /* overflow-x: hidden; */
    background-color: #F5F5F5;
    font-family: 'Times New Roman';
}

.nav {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #015249;
}

a:hover {
    color: #1E392A;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #015249;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
}

/* HOME PAGE STYLING */

#des {
    text-align: right;
    background-color: #015249;
    color: #F5F5F5;
    font-family: 'Klee One';
    font-size: 18px;
}

#dev {
    background-color: #F5F5F5;
    color: #015249;
    font-size: 20px;
}

#des h1, p, #dev h1, p {
    margin: 0;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#dev p:hover, #des p:hover {
    font-size: 150%;
}
